version: 2

jobs:
  Apollo Server:
    docker:
      - image: circleci/node:8

    steps:
      - checkout
      - run: npm ci
      - run:
          name: Setup Code Climate test-reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter
      - run: # run tests
          name: Run Test and Coverage
          command: |
            ./cc-test-reporter before-build
            npm test
            ./cc-test-reporter after-build --exit-code $?

      - run:
          name: Starting server
          command: npm run start:ci
          background: true

      - run: sleep 5
      - run: npx apollo service:check

      - run: |
          if [ "${CIRCLE_BRANCH}" == "master" ]; then
            npx apollo service:push
          fi

workflows:
  version: 2
  Build and Test:
    jobs:
      - Apollo Server
